<% include ./partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class = "ui top atteched">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image%>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body%></p>
            </div>
            <a href="/blogs" class="ui green basic button">Back</a>
            <a href="/blogs/<%= blog._id %>/edit" class="ui blue basic button">Update</a>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" class="ui form" style="display:inline;">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>